@import '../../../scss/vars';

.authentic-block {
  & h3 {
    margin: 0;
  }

  &__container {
    display: flex;
    gap: 49px
  }

  &__cards-block {
    display: flex;
    gap: 10px;

    &__item {
      max-width: 180px;
    }
  }

  &__title {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;

    &_big {
      font-size: 14.5167px;
      line-height: 140%;
      color: $c_g;
    }

    &_little {
      font-size: 10.1617px;
      line-height: 140%;
      color: $c_b;
    }
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    &_big {
      font-size: 10.1617px;
      line-height: 140%;
      color: rgba(65, 65, 65, 0.6);
    }

    &_little {
      font-size: 8.71001px;
      line-height: 140%;
      color: rgba(65, 65, 65, 0.6);
    }
  }

  &__button {
    width: 254px;
    height: 30px;
    border-radius: 3px;
  }

}