@import '../../../scss/vars';

.ReactModal {
    &__Overlay {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }

    &__Content {
        border-radius: 10px !important;
        overflow: visible !important;
    }
}

.overlayStyle {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0px;
    color: rgba(0, 0, 0, 0.8) !important;
    @include for-phone-only {
        overflow: auto;
    }
}

.contentStyle {
    position: absolute;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    outline: none;
    padding: 20px;
    border-radius: 10px !important;
    max-Width: 500px;
    @include for-phone-only {
        max-width: 250px;
        min-width: 250px;
        margin-top: 300px;
    }
}

.modal {
    &__photo {
        &-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
        }


        &-elem {
            display: flex;
            flex-direction: column;
            width: fit-content;
            padding: 0px 6px 6px 6px;
            justify-content: space-between;
        }

        &-name {
            font-family: 'SF Pro Display Medium';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            padding-top: 16px;
            width: 111px;
        }

        &-error {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
        }

        &-previewImg {
            max-width: 164px;
            /* max-height: 125px; */
            height: 125px;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background-position-x: center !important;
            background-position-y: center !important;
            display: block;
        }

        &-fileInput {
            display: none;
        }

        &-photolabel {
            max-width: 164px;
            height: 125px;
            background-color: $c_w;
            display: block;
            width: 100%;
            box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.04);
            border-radius: 6px;
            font-family: 'SF Pro Display Medium';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;

            &::before {
                display: flex;
                content: "*Icon*";
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            &.required {
                border: 1px solid #CBAD73;
            }

            @include for-phone-only {
                max-width: 153px;
            }
        }

        &-submit {
            background: #CBAD73;
            border: 1.975px solid #CBAD73;
            border-radius: 15.8px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 140%;
            color: $c_w;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            cursor: pointer;
        }
    }
}