{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine":"auto",
  "overrides": [
    {
      "files": ["*.js","*.jsx"],
      "options": { "trailingComma": "all" }
    }
  ]
}
