@import '../../scss/vars';

.content-wrapper {
    display: flex;
    gap: 22px;
    margin-top: 65px;
    // margin-left: 28px;
    max-width: 1022px;
    min-width: min-content;

    @include for-phone-only {
        margin: 74px 0 0 0;
        overflow: hidden;
    }
    @include for-tablet-portrait-up {
        width: 100vw;
    }
    @include for-tablet-landscape-up {
        width: 100vw;
    }
}

.container-center {
    width: 1022px;
    margin: 0 auto;

    @include for-phone-only {
        width: 100vw;
    }
}

.hidden-menu-ticker {
    display: none;

    &:checked {
        &~.dashboard-container {
            left: 0;
            top: 0;
            z-index: 101;

            .dashboard__cross-container {
                width: 20%;
            }
        }
    }

}