@import '../../scss/vars';


.top {
  margin-top: 54px;

  @include for-phone-only {
    margin-top: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.second-block {
  display: flex;
  gap: 30px;
}