@import '../../scss/vars';


.top {
  margin-top: 54px;

  @include for-phone-only {
    margin-top: 0;
  }
}

.dashboard-page {
  &__content {
    &-desctop {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include for-phone-only {
        display: none;
      }
    }

    &-mobile {
      display: none;
      padding: 0px 10px 10px;
      width: 100%;

      @include for-phone-only {
        display: block;
      }
    }

  }

  &__second-block {
    display: flex;
    gap: 30px;
  }
}