@import '../../scss/vars';

.summary{
    &-container{
        width: 232px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15.6298px;
        line-height: 140%;
        text-transform: uppercase;
    }
    &__elem{
        &-wrapper{
            display: flex;
            flex-direction: column;

            .box {
                display: flex;
                flex-direction: row;
                gap: 4px;

                button {
                    padding: 2px 5px;
                    background: transparent;
                    color: #CBAD73;
                    border: solid 1px #CBAD73;
                    border-radius: 4px;
                    width: 80px;
                }

                span {
                    padding: 2px 5px;
                    background-color: #CBAD73;
                    color: #fff;
                    border-radius: 4px;
                }
            }
        }
        &-name{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 13.8958px;
            line-height: 140%;
        }
        &-cost{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 13.8958px;
            line-height: 140%;
        }
    }
}