@import '../../scss/vars';

.summary {
    &-container {
        margin: 0 auto;
        width: 232px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15.6298px;
        line-height: 140%;
        text-transform: uppercase;
    }

    &__elem {
        &-wrapper {
            display: flex;
            justify-content: space-between;

            .box {
                display: flex;
                flex-direction: column;
                gap: 4px;

                span {
                    padding: 2px 5px;
                    background-color: #CBAD73;
                    color: #fff;
                    border-radius: 4px;
                }
            }
            button {
                background: transparent;
                border: none;
                cursor: pointer;
                padding: 5px;
                font-size: 17px;
                font-weight: 800;
            }
        }

        &-name {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 13.8958px;
            line-height: 140%;
            display: block;
        }

        &-cost {
            display: block;
            display: flex;
            p{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 13.8958px;
                line-height: 190%;
                vertical-align:center
            }
            p{
                margin-right: 10px;
            }
            span{
                // margin-left: 10px;
            }
        }
    }
}