@import '../../scss/vars';
@import '../../scss/custom-select.scss';
@import '../../scss/custom-checkbox.scss';

.auth_request {
    &__wrapper {
        color: $c_o;
    }

    &__nav {
        padding: 54px 31px 0 31px;
        display: flex;
        justify-content: space-between;

        &-bell {
            cursor: pointer;
        }
    }

    &__container {}

    &__logo {
        display: flex;
        justify-content: center;
        margin: 15px 0 60px 0;
    }

    &__form {

        &__photo {
            &-container {
                display: flex;
                gap: 71px;
                flex-wrap: wrap;
                padding: 32px 0 43px 0;
            }

            &-elem {
                max-width: 164px;
                width: 100%;
            }

            &-name {
                font-family: 'SF Pro Display Medium';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                padding-top: 16px;
            }

            &-previewImg {
                max-width: 164px;
                /* max-height: 125px; */
                height: 125px;
                background-size: contain !important;
                background-repeat: no-repeat !important;
                background-position-x: center !important;
                display: block;
            }

            &-fileInput {
                display: none;
            }

            &-photolabel {
                max-width: 164px;
                height: 125px;
                background-color: $c_w;
                display: block;
                width: 100%;
                box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.04);
                border-radius: 6px;
                font-family: 'SF Pro Display Medium';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;

                &::before {
                    display: flex;
                    content: "*Icon*";
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }

                &.required {
                    border: 1px solid #CBAD73;
                }
            }
        }

        &-heading {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 140%;
            color: $c_g;
            text-transform: uppercase;
        }

        &-wrapper {

            display: flex;
            flex-direction: column;
            align-items: center;


        }

        &-container {
            &.first {
                display: flex;
                max-width: 1136px;
                gap: 62px;
                padding: 0 32px 52px 32px;
                border-bottom: 1px solid #E1E1E1;
                width: 100%;

            }

            &.second {
                max-width: 1136px;
                width: 100%;
                //margin-top: 42px;
            }

            &-wrapper {
                &.first {
                    width: 100%;
                    max-width: 722px;
                }

                &.second {
                    margin-top: 174px;
                }
            }
        }

        &__elem {
            &-label {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 140%;
                margin-bottom: 37px;
                margin-top: 52px;
            }

            &-input {
                border: 1.17544px solid #344767;
                border-radius: 9.40351px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 140%;
                color: $c_o;
                padding: 20px 0 20px 30px;

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 31px;
                }
            }
        }

        &__radio {
            &-group {
                display: flex;
                gap: 41px;
                margin-top: 42px;
            }

            &-button {
                border: 1.17544px solid rgba(52, 71, 103, 0.6);
                border-radius: 9.40351px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                padding: 11px 0;
                max-width: 227px;
                width: 100%;
                text-align: center;
                cursor: pointer;
            }
        }

        &-desc {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
        }

        &__footer {
            display: flex;
            justify-content: center;
            background-color: #F6F6F7;
            padding: 62px 0 100px 0;

            &-wrapper {
                display: flex;
                justify-content: space-between;
                //gap: 142px;
                max-width: 1136px;
                width: 100%;
            }

            &__info {
                max-width: 512px;
                width: 100%;

                &__h1 {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 140%;
                    text-transform: uppercase;
                    margin-bottom: 53px;
                }

                &__h2 {
                    display: flex;
                    gap: 50px;

                    &-label {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 140%;
                        max-width: 320px;
                        width: 100%;
                        white-space: nowrap;
                    }

                    &-value {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 140%;
                    }
                }
            }

            &__button {

                &-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    width: 100%;
                    max-width: 449px;
                }

                &-elem {
                    padding: 23px 0;
                    text-align: center;
                    border-radius: 15.8px;
                    background: $c_g;
                    color: $c_w;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 140%;
                    cursor: pointer;
                }
            }
        }
    }
}

.auth__balance {
    &-wrapper {
        padding-bottom: 0px;
        margin-top: 0px;
    }

    &__header {}

    &__elem {
        &-cat {}

        &-count {}

        &-hours {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            border-radius: 4px;
            background: $c_g;
            color: $c_w;
            padding: 0 8px;
        }

        &-button {
            border-radius: 4px;
            border: 1px solid $c_g;
            text-align: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            margin: 0 -13px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $c_w;
            background: $c_g;

            &:not(:last-child) {
                color: $c_g;
                background: $c_w;
            }
        }

        &:last-child {
            flex-direction: column;
            gap: 10px;
        }
    }
}