@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('../../scss/fonts/sfProDisplayRegular/SFProDisplay-Medium.eot');
    src: url('../../scss/fonts/sfProDisplayRegular/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../scss/fonts/sfProDisplayRegular/SFProDisplay-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import '../../scss/vars';

.header__nav{
    display: flex;
    font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            color: $c_b;
            display: flex;
            cursor: pointer;
            @include for-phone-only{
                display: none;
            }
    &__home{

    }
    &__elem{
        
    }
}