@import '../../../scss/vars';

.authent-table {
  &__navigaton {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    // МОБИЛЬНАЯ ВЕРСИЯ???
    // @include for-phone-only {
    //   gap: 11px;
    //   padding: 11px 8px;
    //   border-top: 1px solid #F0F2F5;
    //   border-bottom: 1px solid #F0F2F5;
    // }

    &__label {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 14.1022px;
      line-height: 140%;
      white-space: nowrap;
      width: auto;
      color: $c_g;

      @include for-phone-only {
        display: none;
      }
    }

    &__search {
      height: 32px;
      border: 1px solid #7B809A;
      border-radius: 8px;
      padding-left: 27px;
      flex: 2;

      // @include for-phone-only {
      //   width: 90vw;
      //   background: #EFEFF4;
      //   border-radius: 10px;
      //   border: 0;
      //   height: 36px;
      //   font-family: 'SF Pro Display Medium';
      //   font-style: normal;
      //   font-weight: 400;
      //   font-size: 17px;
      //   line-height: 22px;
      //   padding-left: 30px;
      // }
    }

    &__filter {
      display: flex;
      gap: 8px;
      align-items: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      cursor: pointer;

      &::after {
        content: "Filter";

        @include for-phone-only {
          display: none;
        }
      }
    }
  }


}