@import '../../../scss/vars';

.authent{
    &-container{
color: $c_o;
    }
    &-wrapper{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        background: $c_w;
        width: 1278px;
        margin-top: 37px;
    }
    &__buttons{
        &-wrapper{
            display: flex;
            gap: 16px;
        }
        &-elem{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            cursor: pointer;
            &.selected{
                font-weight: 700;
            }
        }
    }
    &__nav{
        &-wrapper{
            display: flex;
    gap: 60px;
    align-items: center;
    padding: 29px 29px 32px 29px;
        }
        &-label{
            font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14.1022px;
line-height: 140%;
            white-space: nowrap;
            width: 210px;
            color: $c_g;
        }
        &-search{
            width: 697px;
            height: 32px;
            border: 1px solid #7B809A;
border-radius: 8px;
padding-left: 27px;
        }
        &__buttons{
            &-wrapper{
                display: flex;
                gap: 15px;
            }
            &__elem{
                &-wrapper{
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 140%;
cursor: pointer;
                }   
            }
        }
    }
    &__table{
        &__label{
            &-wrapper{
                display: flex;
                justify-content: space-between;
                font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 140%;
color: #7B809A;
text-transform: uppercase;
border-bottom: 1px solid #F0F2F5;
padding: 0 44px 10px 31px;

            }
            &__elem{
                &-checkbox{

                }
                &-category{
                    display: flex;
                    align-items: center;    
                    width: 250px;            
                }
            }
            &__elems{
                &-wrapper{
                    display: flex;
                    align-items: center;
                    gap: 19px;
                }
                &-brand{
                    display: flex;
                    justify-content: center;
                    width: 340px;
                }
                &-model{
                    display: flex;
                    justify-content: center;
                    width: 120px;
                }
                &-outcome{
                    display: flex;
                    justify-content: center;
                    width: 80px;
                }
                &-order{
                    width: 70px;
                display: flex;
                justify-content: center;
                }
                &-date{
                    width: 100px;
                display: flex;
                justify-content: center;
                white-space: nowrap;
                cursor: pointer;
                &.arrow-up{
                    svg{
                        transform: rotate(180deg);
                    }
                }
                }
                &-pdf{
                    width: 110px;
                    display: flex;
                    justify-content: center;
                }
                &-status{
                    width: 100px;
                display: flex;
                justify-content: center;
                white-space: nowrap;
                }
                &-answer{
                    width: 100px;
                display: flex;
                justify-content: center;
                white-space: nowrap;
                }
            }
        }
        &__elem{
            display: flex;
            padding: 12px 44px 14px 31px;
            justify-content: space-between;
            border-bottom: 1px solid #F0F2F5;
            font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #7B809A;
            &-checkbox{

            }
            &__category{
                grid-template-areas: "image label"
                                    "image number";
                                    grid-column-gap: 16px;
                grid-template-columns: 33px;
                display: grid;
                width: 250px;
                cursor: pointer;
                &-image{
                    grid-area: image;
                    display: flex;
    align-items: center;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: flex;
    width: 42px;
    height: 42px;
                }
                &-label{
                    grid-area: label;
                    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12.3395px;
line-height: 140%;
color: $c_g;
                }
                &-number{
                    grid-area: number;
                }
            }
            &-brand{
                display: flex;
                justify-content: center;
                width: 340px;
            }
            &-model{
                display: flex;
                justify-content: center;
                width: 120px;
            }
            &-outcome{
                display: flex;
                justify-content: center;
                width: 80px;
            }
            &-order{
                width: 70px;
                display: flex;
                justify-content: center;
            }
            &-date{
                width: 100px;
                display: flex;
                justify-content: center;
            }
            &-pdf{
                cursor: pointer;
                width: 110px;
                display: flex;
                justify-content: center;
                &:hover{
                    text-decoration: underline;
                }
            }
            &-status{
                width: 100px;
                display: flex;
                justify-content: center;
            }
            &-answer{
                width: 100px;
                display: flex;
                justify-content: center;
            }
        }
        &__elems{
            &-wrapper{
                display: flex;
                gap: 19px;
                align-items: center;
            }
        }
    }
}