@import '../../../scss/vars';


.top {
    margin-top: 54px;

    @include for-phone-only {
        margin-top: 0;
    }
}

.authent {
    &-container {
        max-width: 776px;

        @include for-phone-only {
            margin-top: 10px;
        }

    }

    &-wrapper {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        background: $c_w;
        width: 100%;
        margin-top: 37px;

        @include for-phone-only {
            width: 100vw;
            box-shadow: none;
        }
    }

    &__buttons {

        &.mobile {
            display: none;
        }

        &-wrapper {
            display: flex;
            gap: 16px;
            padding-left: 24px;
            color: $c_b;

            &.mobile {
                display: none;
                @include for-phone-only {
                    display: flex;
                }
            }


            @include for-phone-only {
                padding: 22px 16px 0 16px;

                &.mobile {
                    display: flex;
                }

                &.desktop {
                    display: none;
                }

            }
        }
    }

   

   

    
}