@import '../../scss/vars';

.top_up_bundle {
    &-container {
        display: flex;

        @include for-phone-only {
            flex-direction: column;
            max-width: 100vh;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }

    &__left {
        &-wrapper {
            width: calc(1170px - 405px);

            @include for-phone-only {
                width: 100%;
                margin-left: 0;
                padding-left: 0;
            }
        }

        &-nav {
            margin-top: 43px;
            margin-bottom: 6px;

            .mobile-nav {
                display: none;

                @include for-phone-only {
                    display: block;
                }
            }

            @include for-phone-only {
                margin-top: 0;
            }

        }

        //mobile nav header
        &-mobile {
            display: none;

            @include for-phone-only {
                // margin-top: 0;
                // display: flex;
                // align-items: center;
                // justify-content: space-between;
                // min-width: 100vw;
                // nax-width: 100vw;
                // height: 73px;
                // border-bottom: 1px solid rgba(217, 217, 217, 1);

                h1 {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    margin-left: 21px;
                }

                svg {
                    margin-right: 21px;
                }
            }
        }
    }

    &__right {
        &-wrapper {
            background: #F6F6F7;
            height: 100%;
            width: 405px;
            padding-top: 87px;
            margin: auto;

            @include for-phone-only {
                display: none;
            }
        }

        &-mobile {
            display: none;

            @include for-phone-only {
                display: block;
                padding-bottom: 30px;
            }
        }
    }

    &__payment-block {
        width: 323px;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__total {
        &-wrapper {
            margin: auto;
            display: flex;
            justify-content: space-between;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 20.0531px;
            line-height: 140%;
            max-width: 232px;
            width: 100%;
            margin-bottom: 16px;

            @include for-phone-only {
                max-width: 323px;
            }
        }

        &-title {}

        &-count {
            font-weight: 700;
        }
    }

    &__buttons {
        &-wrapper {
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 232px;
            width: 100%;

            @include for-phone-only {
                max-width: 323px;
            }
        }

        &-button {
            cursor: pointer;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12.8913px;
            line-height: 140%;
            height: 38px;
            background: #CBAD73;
            border-radius: 2.86473px;
            border: 0;
            color: $c_w;

            &[disabled] {
                background-color: #fff;
            }

            &:first-child {
                border: 1px;
                color: $c_g;
                background: hsla(120, 100%, 50%, 0);
                border: 1px solid $c_g;
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;

        @include for-phone-only {
            display: none;
        }

        &__history {
            display: flex;

            &-text {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 10.0266px;
                line-height: 140%;
                color: $c_g;

                &.bold {
                    font-weight: 700;
                }
            }
        }

        &-logo {
            width: 43px;
            height: 32px;

            @include for-phone-only {
                display: none;
            }
        }
    }
}

.payment__form {

    &-wrapper {

        hr {
            width: 608px;

            @include for-phone-only {
                width: 100vw;
                color: rgba(225, 225, 225, 1);
            }

        }

    }

    &-elem {
        margin-bottom: 40px;

        &__hours-wrapper {
            @include for-phone-only {
                max-width: 329px;
            }
        }

        &.upload {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            max-width: 300px;
            max-height: 36px;
            gap: 0px;
            margin-left: 74px;

            &-btn {
                min-width: 150px;
                height: 38px;
                margin: 0;
                padding: 0;
            }

            &-info {
                min-width: max-content;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: -80px;
            }
        }
    }

    // &-second_block-wrapper {

    //     @include for-phone-only {
    //         display: flex;
    //         flex-direction: column;
    //         max-width: calc(100vw - 34px);
    //         overflow: hidden;
    //     }

    // }
}

.custom-select__control {

    width: 570px;

    @include for-phone-only {
        max-width: calc(100vw - 34px);
    }

    &.second {
        min-width: 340px;

        max-width: calc(100vw - 42px);

        @include for-phone-only {
            max-width: inherit;
        }
    }
}