@import '../../scss/vars';

.notFoundPage{
    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        gap: 90px;
    }
    &__title{
        font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 34.278px;
    line-height: 140%;
    max-width: 1000px;
    text-align: center;
color: $c_o;
@include for-phone-only{
    max-width: 95vw;
    font-size: 20.278px;
}
    }
    &__button{
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 140%;

        cursor: pointer;
        background: $c_g;
        color: $c_w;
        border-radius: 15.8px;
        width: 449px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-phone-only{
        max-width: 95vw;
        border-radius: 4px;
        font-size: 21px;
        height: 71px;
    }
    }
    &__image{
        img{
            @include for-phone-only{
            width: 50vw;
            }
        }
    }
}